<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>

		<title>Sebuah Permainan</title>
		<meta http-equiv="Content-Language" content="English" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<meta property="og:title" content="Sebuah Permainan"/>
		<meta property="og:type" content="movie"/>
		<meta property="og:url" content="http://sebuah-permainan.qtiest.com"/>
		<meta property="og:image" content="http://lh5.ggpht.com/_4-4c2_RZB2Y/TKCPAt8-dFI/AAAAAAAAAlg/739cPfsXdU0/pic1.png"/>
		<meta property="og:site_name" content="qTiest"/>
		<meta property="og:description"
		content="A short movie about triangle love."/>
		
		
		<%= stylesheet_link_tag "base", "sticky_footer" %>
		<!--[if !IE 7]>
			<style type="text/css">
				#wrap {display:table;height:100%}
			</style>
		<![endif]-->
		<%= stylesheet_link_tag "application" %>
	</head>

	<body>

		<div id="wrap">
			<%= render :file => "layouts/header.html.erb" %>
			<div id="main" class="clearfix">
				<%= yield %>
			</div> <!-- EO div#main-->
		</div><!-- EO div#wrap -->
	
	
		<%= render :file => "layouts/footer.html.erb" %>
	</body>
</html>
